@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* GENERAL STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
}

.title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.todo{
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px;
    width: 40vw;
    font-size: 1.1rem;
}
.todo::placeholder {
    font-size: 1.1rem;
    text-transform: capitalize;
}

.add-btn{
    width: 9vw;
    padding: 7px;
    border-radius: 8px;
    border: 1.5px solid #265aad;
    background-color: #fff;
    color: #265aad;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: all .3s ease;
}
.add-btn:hover{
    background-color: #265aad;
    color: #fff;
}

.list{
    text-align: center;
    margin-top: 20px;
    width: 50vw;
}

.elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.text{
    font-size: 1.2rem;
    width: 100%;
    margin-right: 6px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #ccc;
}

.delete-btn{
    cursor: pointer;
    text-transform: capitalize;
    width: 25%;
    height: 35px;
    padding: 5px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #b80b14;
    border: 2px solid #b80b14;
    transition: all .3s ease;
}
.delete-btn:hover{
    background-color: #b80b14;
    color: #fff;
}
